html {
    font-size: 10px;
    color: azure;
    background-color: black;
}

h1 {
    font-size: 6rem;
}

th {
    margin: 0.5rem;
    padding: 3rem;
    font-size: 5rem;
}

td {
    margin: 0.5rem;
    padding: 3rem;
    font-size: 2rem;
}

.produto-nome {  
    font-size: 3rem;
}

.preco {
    font-size:3rem ;
}

.total {
    margin: 2rem;
    padding: 3rem;
    font-size:5rem ;
}